<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head %>
    <title>Login Node</title>
</head>

<body>
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1><span class="fa fa-lock"></span> Ingresa o registrate</h1>
                <a href="/login" class="btn btn-light">
                    <span class="fa fa-user"></span> Entrar
                </a>
                <a href="/signup" class="btn btn-light">
                    <span class="fa fa-user"></span> Registro
                </a>
            </div>
        </div>
    </div>

</body>

</html>